@using AplicacionWebColegio.Models
@model ProfesorCLS
@{
    ViewBag.Title = "Editar";
    List<SelectListItem> listaSexo = (List<SelectListItem>)ViewBag.lista;
}

<h2>Editar</h2>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Editar", "Profesores", FormMethod.Post, new { @id = "frmProfesores" }))
        {
            <div>
                @Html.LabelFor(p => p.iidprofesores)
                @Html.TextBoxFor(p => p.iidprofesores, new { @class = "form-control", @readOnly = "true" })
                @Html.ValidationMessage("iidprofesores", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(p => p.nombre)
                @Html.TextBoxFor(p => p.nombre, new { @class = "form-control" })
                @Html.ValidationMessage("nombre", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(p => p.apellido)
                @Html.TextBoxFor(p => p.apellido, new { @class = "form-control" })
                @Html.ValidationMessage("apellido", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(p => p.iidsexo)
                @Html.DropDownList("iidsexo", listaSexo, null, new { @class = "form-control" })
                @Html.ValidationMessage("iidsexo", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(p => p.materia)
                @Html.TextBoxFor(p => p.materia, new { @class = "form-control" })
                @Html.ValidationMessage("materia", new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(p => p.email)
                @Html.TextBoxFor(p => p.email, new { @class = "form-control" })
                @Html.ValidationMessage("email", new { @class = "text-danger" })
            </div>
            <div>
                <br />
                <div style="margin:auto">
                    <input type="submit" class="btn btn-primary" value="Guardar" />
                    @Html.ActionLink("Regresar", "Index", "Profesores", null, new { @class = "btn btn-danger" })
                </div>
            </div>
        }
    </div>
</div>
<script>
    var frmProfesores = document.getElementById("frmProfesores");
    frmProfesores.onsubmit = function (e)
  {
       e.preventDefault();
       if (confirm("¿Deseas Editar realmente?") == 1)
     {
           frmProfesores.submit();
     }
  }
</script>