@using AplicacionWebColegio.Models
@model EstudianteCLS
@{ 
    ViewBag.Title = "Create";
}

<div class="row" >
    <div class="col col-md-6">
        @using (Html.BeginForm("Create", "Estudiantes", FormMethod.Post))
        {
            @*<div>
                @Html.LabelFor(p => p.Iidestudiante)
                @Html.TextBoxFor(p => p.Iidestudiante, new { @class = "form-control" })
            </div>*@
            <div>
                @Html.LabelFor(p => p.Nombre)
                @Html.TextBoxFor(p => p.Nombre, new { @class = "form-control" })
            </div>
            <div>
                @Html.LabelFor(p => p.Apellido)
                @Html.TextBoxFor(p => p.Apellido, new { @class = "form-control" })
            </div>
            <div>
                @Html.LabelFor(p => p.Curso)
                @Html.TextBoxFor(p => p.Curso, new { @class = "form-control" })
            </div>
            <div>
                @Html.LabelFor(p => p.Email)
                @Html.TextBoxFor(p => p.Email, new { @class = "form-control" })
            </div>
            <br />
            <div>
                <input type="submit" class="btn btn-outline-secondary" value="Agregar" />
            </div>
        }
    </div>
</div>