@using AplicacionWebColegio.Models
@model List<EstudianteCLS>
@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            @*<td width="10">@Html.LabelFor(p => Model[0].Iidestudiante)</td>*@
            <td width="20%">@Html.LabelFor(p => Model[0].Nombre)</td>
            <td width="20%">@Html.LabelFor(p => Model[0].Apellido)</td>
            <td width="10%">@Html.LabelFor(p => Model[0].Curso)</td>
            <td width="30%">@Html.LabelFor(p => Model[0].Email)</td>
            <td width="10%">Operaciones</td>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model)
        {
            <tr>
                @*<td>@item.Iidestudiante</td>*@
                <td>@item.Nombre</td>
                <td>@item.Apellido</td>
                <td>@item.Curso</td>
                <td>@item.Email</td>
                <td>
                    @Html.ActionLink(" ", "Editar", "Estudiantes", new { id = @item.Iidestudiante }, new { @class = "bi bi-pencil-square btn btn-primary" })
                    @Html.ActionLink(" ", "ELiminar", "Estudiantes", new { id = @item.Iidestudiante }, new { @class = "bi bi-trash3 btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
@Html.ActionLink("Create", "Create", "Estudiantes", new { @class="btn btn-success" })